<footer class="container is-dark with-title">
  <h2 class="title">{{ site.settings.footer.title | escape }}</h2>
  <section>
      <section class="container is-dark with-title is-center" id="panel1">
        <h2 class="title">{{ site.settings.footer.panel1.title }}</h2>
        <div>
          <div><img src={{ site.settings.footer.panel1.img }}></div>
          <div>
            <ul>
              <li>Name: {{ site.settings.footer.panel1.name }}</li>
              <li>Class: {{ site.settings.footer.panel1.class }}</li>
              <li>Level: {{ site.settings.footer.panel1.level }}</li>
              <li>Bio: {{ site.settings.footer.panel1.bio_short }}</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="container is-dark with-title is-center" id="panel2">
          <h2 class="title">{{ site.settings.footer.panel2.title }}</h2>
          <div>
            <ul>
              <li><a class="page-link radio" target="_blank" href="https://twitter.com/{{site.settings.footer.panel2.twitter}}"><i class="icon twitter"></i>@doomsterfire</a><span></span></li>
              <li><a class="page-link radio" target="_blank" href="https://twitch.tv/{{site.settings.footer.panel2.twitch}}"><i class="snes-logo"></i>Twitch.tv</a><span></span>
            </ul>
          </div>
      </section>
      <section class="container is-dark with-title is-center" id="panel3">
          <h2 class="title">{{ site.settings.footer.panel3.title }}</h2>
          <p><a href="https://discord.gg/YFVTfRb" target="_blank" class="page-link radio"><img src="{{ site.settings.footer.panel3.img }}">&nbsp;{{ site.settings.footer.panel3.text }}</a><span></span></p>
      </section>
  </section>
</footer>
<!--<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="container is-dark">



    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>-->
