<header class="container with-title is-dark">
    <h2 class=title>Menu</h2>
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  <div>
    <div class="site-brand">
      <img src="{{ site.brand.img | relative_url }}" alt="{{ site.brand.alt_text }}">
      <div>
        <a class="site-title radio" rel="author" href="{{ "/" | relative_url }}"> <img src="{{ site.brand.weapon | relative_url }}"> {{ site.title | escape }}</a><span></span>
      </div>

    </div>

    {%- if titles_size > 0 -%}
      <!-- todo responsive bullshit for nav bar -->
      <nav class="site-nav">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <!-- todo iterate thru titles and assign them an icon -->
          <div>
            <a class="page-link radio" href="{{ my_page.url | relative_url }}"><img src="{{ site.settings.about.closed | relative_url }}">{{ my_page.title | escape }}</a><span></span>
          </div>
          {%- endif -%}
        {%- endfor -%}
      </nav>
    </div>
    {%- endif -%}
</header>
