$text-color: #dfe6e9;
$body-color: #2d3436;

// global styles applied to the whole body of the doc
body {
    background-color: $body-color;

    a {
        color: $text-color;

    }
}

.is-dark {

    .title {
        background-color: $body-color !important;
        color: $text-color !important;
    }

    &:before, &:after {
        background-color: $body-color;
    }

    &:after {
        border-color: $text-color;
    }

}

header {
    margin: 1% 2% 0 2%;

    div {
        width: 80%;
        display: flex;

        .site-brand {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            img {
                width: 5%;
                height: auto;
            }

            .site-title {
                display: flex;
                align-items: center;

                img {
                    width: auto;
                    padding-right: 5px;
                }
            }
        }
    }
    nav {
        align-self: center;

        .page-link {
            img {
                padding-right: 5px;
            }
        }
    }
}