@import "nes";

$text-color: #dfe6e9; //also border color
$body-color: #2d3436;
$gold: #f1c40f;
$mobile: 768px;

html {
    height: 100%;
    box-sizing: border-box;

}
// global styles applied to the whole body of the doc
body {
    min-height: 100%;
    background-color: $body-color;
    display: flex;
    flex-direction: column;

    a {
        color: $text-color;

        &:hover {
            text-decoration: none;
            color: $text-color;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    .container {

        .is-dark {

            .title {
                background-color: $body-color !important;
                color: $text-color !important;
            }

            &:before, &:after {
                background-color: $body-color;

            }

            &:after {
                border-color: $text-color;
            }

        }
    }

    @media screen and (max-width: $mobile)
    {
        font-size: .75em;
    }
}


header {
    margin: 1% 2% 0 2%;

    div {
        display: flex;

        .site-brand {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex: 1;

            img {
                width: 100%;
                max-width: 10%;
                height: auto;

                @media screen and (max-width: $mobile){
                    width: 100%;
                    height: auto;
                    min-width: 30px;
                }
            }
        }
    }
    nav {
        align-self: center;
        display: flex;
        flex: 2;
        justify-content: flex-end;
    }

    .site-brand, nav {

        div {
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;

            .site-title, .page-link {
                display: flex;
                align-items: center;

                img {
                    width: auto;
                    padding-right: 5px;
                }

            }

            @media screen and (max-width: $mobile) {
                align-items: initial;

                .site-title, .page-link {
                    margin-right: 0;

                    span, #class-icon {
                        display: none; // hide text on small screens
                    }
                    & + span {
                        display: none;
                    }
                }
            }
        }
    }
}

footer {
    justify-self: flex-end;
    margin: 0 2% 1% 2%;
    padding-bottom: 10px;
    display: flex !important;
    flex-direction: row !important;

    > section {
        background-color: transparent!important;
        display: flex;
        color: $text-color;

        > #panel1 {
            flex: 1;

            > div {
                display: flex;

                div {
                    flex: 2;
                }

                > div:first-child {
                    flex: 1;
                }
            }
        }

        > #panel2 {
            flex: 0;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                li {
                    display: flex;
                    flex-direction: row-reverse;
                    padding: 5px 0;

                    a {
                        display: flex;
                        align-items: center;

                        i {
                            padding-right: 50px;
                        }

                        img {
                            width: 15%;
                        }
                    }
                }
            }
        }

        > #panel3 {
            flex: 1;

            img {
                width: 10%;
                padding-right: 5px;
            }

            p {
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
}

main {
    flex: 1;
    margin: 1% 2% 1% 2%;

    .row {
        display: flex;

        article {
            flex: 1;
            color: $text-color;

            h2 {
                display: flex;
                flex-direction: row-reverse;

                img {
                    width: auto;
                }

                a {
                    color: $gold;
                }
            }
        }
    }
// TODO: code blocks

    article {
        color: $text-color;

        .post-title {
            display: none; //just for RSS feeds, name of post is name of page and already at the top of the container
        }

        a {
            color: $gold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}